/*-------------------------------------------------------
12. Counter css
---------------------------------------------------------*/


.counter-area {
	position: relative;
	z-index: 1;
}

.counter-1 {
    border-radius: 5rem;
	position: relative;
	z-index: 1;
	.fun-fact {
		text-align: center;
		border-right: 1px solid #ccc;
		position: relative;
		z-index: 1;
		&:last-child {
			margin-right: 0;
			border-right: none;
			padding-right: 0;
		}
		.fun-icon {
			font-size: 7rem;
			margin-bottom: 2.5rem;
			color: var(--clr-def);
		}
		.fun-desc {
			.timer {
				position: relative;
				z-index: 1;
				display: inline-block;
				padding-right: 3rem;
				font-size: 5rem;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 2rem;
				color: var(--clr-def);
				&::before {
					position: absolute;
					z-index: -1;
					content: attr(data-count);
					right: 0;
					top: 0;
				}
			}
			.medium {
				position: relative;
				z-index: 1;
				font-size: 1.6rem;
				line-height: 2.2rem;
				font-weight: 500;
				letter-spacing: 0.0015em;
				text-transform: capitalize;
				display: block;
			}
		}
	}
}

.big-number {
    color: #f5f6f7;
    font-size: 50px;
    display: inline-block;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d2d2d4;
    position: absolute;
    top: 100px;
    right: 18px;
    transform: rotateZ(45deg);
}



