/*-------------------------------------------------------
14. Review css 
---------------------------------------------------------*/


.review-box {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 3rem;
    border: 1px solid #cccc;
    padding: 5rem 3rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	.quote {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		i {
			position: absolute;
			display: inline-block;
			height: 5rem;
			width: 5rem;
			line-height: 5rem;
			text-align: center;
			background-color: var(--clr-def);
			color: var(--clr-white);
			-webkit-border-radius: 50%;
			border-radius: 50%;
			-webkit-transition: all .5s ease;
			transition: all .5s ease;
			&.quote-right {
				right: 5rem;
				top: -3rem;
				&::after {
					@include pos-ab;
					height: 5rem;
					width: 1px;
					top: -4rem;
					left: 50%;
					transform: translate(-50%, 0);
					background-color: var(--clr-def);
				}
			}
			&.quote-left {
				left: 5rem;
				bottom: -3rem;
				&::after {
					@include pos-ab;
					height: 5rem;
					width: 1px;
					bottom: -4rem;
					left: 50%;
					transform: translate(-50%, 0);
					background-color: var(--clr-def);
				}
			}
		}
	}
	
	.review-content {
		h4 {
			margin-bottom: 1.5rem;
			line-height: 1;
			text-transform: capitalize;
			font-weight: 700;
		}
		span {
			font-size: 16px;
			font-weight: 500;
			color: var(--clr-heading);
			display: block;
			margin-bottom: 2rem;
			line-height: 1;
		}
		blockquote {
			font-size: 16px;
			font-weight: 500;
			color: var(--clr-heading);
			margin-bottom: 2rem;
		}
		.sh-de-rating {
			margin-bottom: 0;
			i {
				font-size: 1.4rem;
			}
		}
	}
	&:hover {
		.quote {
			i {
				&.quote-right {
					top: 4rem;
				}
				&.quote-left {
					bottom: 4rem;
				}
			}
		}
	}
}

//Owl Carousel


.owl-carousel .owl-item img {
    display: block;
    width: inherit;
}

.rev-sldr.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 70px;
}

.rev-sldr.owl-theme .owl-dots,
.rev-sldr.owl-theme .owl-nav {
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 5px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	width: 20px;
    height: 5px;
    background-color: #37582D;
}