/*-------------------------------------------------------
21. Team css 
---------------------------------------------------------*/

.team-box {
	text-align: center;
	.team-pic {
		position: relative;
		z-index: 1;
		overflow: hidden;
		.team-overlay {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			-webkit-transform: rotateX(90deg);
			transform: rotateX(90deg);
			-webkit-transition: all .5s cubic-bezier(.09,.88,.82,.8);
			transition: all .5s cubic-bezier(.09,.88,.82,.8);
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				content: '';
				background-color: var(--clr-overlay);
			}
			.team-shape {
				position: absolute;
				bottom: 2rem;
				width: 100%;
				left: 50%;
				-webkit-transform: translate(-50%,0);
				transform: translate(-50%,0);
			}
			.team-social {
				position: absolute;
				display: flex;
				gap: 1.5rem;
				align-items: center;
				justify-content: center;
				z-index: 2;
				width: 100%;
				bottom: 58px;
				li {
					a {
						i {
							height: 4rem;
							width: 4rem;
							line-height: 4rem;
							text-align: center;
							background-color: var(--clr-def-2);
							color: var(--clr-white);
							-webkit-border-radius: 50%;
							border-radius: 50%;
							transition: background-color .5s ease;
							&:hover {
								background-color: var(--clr-menu);
							}
						}
					}
				}
			}
		}
	}
	.team-content {
		position: relative;
		z-index: 3;
		padding: 2rem;
		margin: -2rem 2rem 0 2rem;
		border-radius: var(--rad-1);
		box-shadow: var(--box-shadow-1);
		background-color: var(--clr-white);
		h5 {
			text-transform: capitalize;
			font-weight: 700;
			margin-bottom: 2rem;
			font-size: 2rem;
		}
		span {
			font-size: 14px;
			font-weight: 500;
			color: var(--clr-heading);
			display: block;
			line-height: 1;
			text-transform: uppercase;
		}
	}
	&:hover {
		.team-overlay {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}
	}
}


